fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
pypdf
pytest
httpx
pytest-asyncio
pyyaml
prometheus_fastapi_instrumentator
structlog
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai
langfuse
chromadb
langchain-ollama
langchain-chroma
python-multipart
python-json-logger
colorlog
langgraph